    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis a jour</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils;let i =index"
        [indexofappareil]="i"
        [appareilname]="appareil.name" [appareilstatus]="appareil.status"
        [id]="appareil.id"></app-appareil>
      </ul><br>
      <button (click)="onAllumer()" class="btn btn-success" [disabled]="!isAuth">tout allumer</button>
      <button (click)="oneteindre()" class="btn btn-danger" [disabled]="!isAuth">tout eteindre</button>
    </div>